<div>
  Welcome to , <%= @library.name %>! <br>
  This library has, <%= @library.floor_count %> floors! <br>
  This library has, <%= @library.floor_area %> floor area!

  This library has, <%= @library.floor_area %> floor area!

</div>
